{% extends 'core/base.html' %}
{% block contenido %}
    <h2>Confirmación de Pedido</h2>
    {% if compras %}
        <ul>
            {% for compra in compras %}
                <li>
                    <h3>Número de Pedido: {{ compra.id }}</h3>
                    <p>Total: ${{ compra.total }}</p>
                    <p>Fecha: {{ compra.fecha }}</p>
                    <!-- Aquí puedes mostrar más detalles si lo deseas -->
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No hay pedidos realizados.</p>
    {% endif %}
{% endblock %}
