{% extends 'core/base.html' %}
{% load static %}
{% block contenido %}
  <div class="container mt-5">
    <h2 class="mb-4">Historial de Compras</h2>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead class="thead-dark">
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Fecha</th>
            <th scope="col">Total</th>
          </tr>
        </thead>
        <tbody>
          {% for compra in compras %}
          <tr>
            <td>{{ compra.id }}</td>
            <td><span class="fecha" data-fecha="{{ compra.fecha|date:'c' }}"></span></td>
            <td>${{ compra.total }}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <script>
    // Restar 4 horas a todas las fechas con la clase 'fecha'
    const fechas = document.querySelectorAll('.fecha');
    fechas.forEach(fecha => {
      const fechaOriginal = new Date(fecha.getAttribute('data-fecha'));
      const fechaRestada = new Date(fechaOriginal.getTime() - 0 * 60 * 60 * 1000);
      fecha.textContent = fechaRestada.toLocaleString();
    });
  </script>
{% endblock %}
