{% extends 'core/base.html' %}
{% block contenido %}
<div class="container">
    <br><br>
    <h2><span class="section-intro__style">Productos disponibles en Bodega</span></h2>
    <br><br>
    <div class="row">
        
        {% for producto in page_obj %}
        
        <div class="col-md-4">
            <div class="card">
                <img src="{{ producto.imagen_url }}" class="card-img-top" alt="{{ producto.nombre }}">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.nombre }}</h5>
                    <p class="card-text">{{ producto.descripcion }}</p>
                    <p class="card-text">Cantidad en Bodega: {{ producto.stock }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
